<div id="modal" class="modal-wrap">
    <div class="modal">
        <div class="modal-title">{{ title }}</div>
        <div class="modal-cont">
            {{ content }}
        </div>
        <div class="modal-buttons-cont">
            <button id="modal-done" class="button st2">{{ btnTitle }}</button>
            <button id="modal-cancel" class="button st3">Cancel</button>
        </div>
    </div>
</div>