<div class="header">
    <div><button id="new-contract" class="button st4">New contract</button></div>
    <div><div class="header-title">Contracts</div></div>
    <div><button id="logout" class="button st2">Log out</button></div>
</div>

<div class="cont">

</div>
