<div class="cont cent">
    <div class="form">
        <span id="error-message"></span>
        <input data-validators="empty|max:16" id="username" class="input st1" type="text" placeholder="Username">
        <input data-validators="empty|max:16" id="password" class="input st1" type="password" placeholder="Password">

        <div class="row">
            <button id="login" class="button st2">Login</button>
            <a class="button st3" href="#register">Register</a>
        </div>
    </div>
</div>