<div class="cont cent">
    <div class="form">
        <span id="error-message"></span>
        <div class="row">
            <input data-validators="empty|max:16" id="name" class="input st1" type="text" placeholder="Name">
            <input data-validators="empty|max:16" id="surname" class="input st1" type="text" placeholder="Surname">
            <input data-validators="empty|max:16" id="patronymic" class="input st1" type="text" placeholder="Patronymic">
        </div>

        <div class="row">
            <input data-validators="empty|max:16" id="username" class="input st1" type="text" placeholder="Username">
            <input data-validators="empty|max:16" id="password" class="input st1" type="password" placeholder="Password">
        </div>

        <input data-validators="empty|max:320" id="email" class="input st1" type="email" placeholder="Email">
        <input data-validators="empty|max:11" id="phone" class="input st1" type="text" placeholder="Phone">

        <button id="register" class="button st2">Register</button>
    </div>
</div>